<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html>
<head>
    <title>This is the title of the webpage!</title>
</head>
<body>
    <h2>Zadania:</h2>
    <table class="table table-dark">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Task</th>
            <th scope="col">Date</th>
        </thead>
        <tbody>
        <tr th:each="task: ${tasks}">
            <td th:text="${task.getId()}"></td>
            <td th:text="${task.getTask()}"></td>
            <td th:text="${task.getDate()}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h2>POST:</h2>
    <form id="formElem">
        <input type="text" name="task">
        <input type="text" name="date">
        <input type="submit">
    </form>
    <div id="decoded"></div>
    <button id="encode">Encode</button>
    <div id="encoded"></div>
    <br>
    <br>
    <h2>DELETE:</h2>
    <form id="formElem2">
        <input type="text" name="id">
        <input type="submit">
    </form>
    <div id="decoded2"></div>
    <button id="encode2">Encode</button>
    <div id="encoded2"></div>
    <br>
    <br>
    <h2>PUT:</h2>
    <form id="formElem3">
        <input type="text" name="id">
        <input type="text" name="task">
        <input type="text" name="date">
        <input type="submit">
    </form>
    <div id="decoded3"></div>
    <button id="encode3">Encode</button>
    <div id="encoded3"></div>
</body>
<script>
    encode.onclick = async (e) => {
        let response = await fetch('http://localhost:8080/greeting', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })

        let text = await response.text(); // read response body as text
        data = JSON.parse(text);
        document.querySelector("#encoded").innerHTML = text;
        //  document.querySelector("#encoded").innerHTML = `First name = ${data.firstname} <br/>
        //                                                  Last name = ${data.lastname} <br/>
        //                                                  Age    = ${data.age}`
    };

    formElem.onsubmit = async (e) => {
        e.preventDefault();
        var form = document.querySelector("#formElem");
        // var form = document.forms[0];

        data = {
            task : form.querySelector('input[name="task"]').value,
            date : form.querySelector('input[name="date"]').value
        }

        let response = await fetch('http://localhost:8080/greeting', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })

        let text = await response.text(); // read response body as text
        document.querySelector("#decoded").innerHTML = text;
    };

    formElem2.onsubmit = async (e) => {
        e.preventDefault();
        var form = document.querySelector("#formElem2");
        let endp = 'http://localhost:8080/greeting/' +
            form.querySelector('input[name="id"]').value;
        console.log(endp);
        // var form = document.forms[0];

        let response = await fetch(endp, {
            method: 'DELETE', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            }
        })

        let text = await response.text(); // read response body as text
        document.querySelector("#decoded2").innerHTML = text;
    };

    formElem3.onsubmit = async (e) => {
        e.preventDefault();
        var form = document.querySelector("#formElem3");
        let endp = 'http://localhost:8080/greeting/' + form.querySelector('input[name="id"]').value + '?task=' +
            form.querySelector('input[name="task"]').value + '&date=' +
            form.querySelector('input[name="date"]').value;
        // var form = document.forms[0];
        console.log(endp);
        let response = await fetch(endp, {
            method: 'PUT', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            }
        })

        let text = await response.text(); // read response body as text
        document.querySelector("#decoded3").innerHTML = text;
    };


</script>
</html>